@charset="utf-8";
ul{
	padding:0;
}
body{
	margin:0 0 0 0 ;
}
#message{
	text-align: center ;
	font-family:Microsoft YaHei ;
	font-size: 10pt ;
	letter-spacing:0.3em;
	word-spacing:0.1em ;
}
@media only screen and (min-width:800px)
{
	ul{
		width:100%;
	}

li{
	padding-right:13%;
	padding-left:3%;
	font-size: 12pt
	
}
#header li{
	font-family:Microsoft YaHei ;
	letter-spacing: 0.1em;
	display:inline ;

}
#header{
	margin-left: 11% ;
}
#header a {
	color:black ;
	text-decoration: none ;	
	  border-bottom: 2px solid transparent;
}
#header a:hover{
	text-decoration:underline ;
}
#head1{
	width:20%;
	margin-top:1%;
}
#photo1{
	width: 20% ;
	margin-left: 9% ;
	margin-right: 5% ;
}
#photo2{
	width: 20% ;
	margin-left: 5% ;
	margin-right: 5% ;
}
#photo3{
	width: 20% ;
	margin-left: 5% ;
	margin-right: 9% ;
}
}

@media only screen and (max-width:799px) and (min-width:510px)
{
#pic{
	position:fixed;
}
ul{
	width:80%;
	margin-left:20%;
	margin-right:10%;
}
li{
	margin:0 5% 0% 4%;
}
#header li{
	font-family:Microsoft YaHei ;
	letter-spacing: 0.1em;
	display:inline ;
}
#header a {
	color:black ;
	text-decoration: none ;	
	  border-bottom: 2px solid transparent;
}
#header a:hover{
	text-decoration:underline ;
}
#head1{
	width:100%;
}
#photo1{
	width: 20% ;
	margin-left: 9% ;
	margin-right: 5% ;
}
#photo2{
	width: 20% ;
	margin-left: 5% ;
	margin-right: 5% ;
}
#photo3{
	width: 20% ;
	margin-left: 5% ;
	margin-right: 9% ;
}
}
@media only screen and (max-width:509px)
{
#pic{
	position:fixed;
}
ul{
	width:80%;
	margin-left:5%;
	margin-right:10%;
}
li{
	margin:0 5% 0% 5%;
}
#header li{
	font-family:Microsoft YaHei ;
	letter-spacing: 0.1em;
}
#header a {
	color:black ;
	text-decoration: none ;	
	  border-bottom: 2px solid transparent;
}
#header a:hover{
	text-decoration:underline ;
}
#head1{
	width:100%;
}
#message{
	float: bottom ;
}
#photo1{
	float: left ;
	width: 100% ;
}
#photo2{
	float: left ;
	width: 100% ;
}
#photo3{
	float: left ;
	width: 100% ;
}
}
